:root {
    --one-color: rgb(0, 255, 179);
    --two-color: rgb(106, 118, 230);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: green;
    width: 100%;
    max-width: 900px;
    height: 150px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header h1 {
    text-align: center;
    color: var(--one-color);
    padding: 20px;
}
h1 span{
    color: white;
}
.menu {
    gap: 25px;
    display: flex;
    list-style: none;
    padding: 20px;
}
main {
    background-color: white;
    width: auto;
    max-width: 900px;
    min-height: 90dvh;
}
.tautan {
    justify-content: space-between;
    display: flex;
}
.tautan a {
    text-decoration: none;
}
.left {
    background-color: var(--one-color);
    border: 1px solid var(--two-color);
    border-radius: 10px;
    padding: 10px;
    margin-left: 250px;
}
.right {
    background-color: var(--one-color);
    border: 1px solid var(--two-color);
    border-radius: 10px;
    padding: 10px;
    margin-right: 250px;
}
.pesan {
    padding-bottom: 100px;
}
/* -------------- */
.foto {
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.foto h2 {
    color: var(--two-color);
    border: 1px solid var(--two-color);
    width: 240px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.gambar {
    text-align: center;
}
.pap {
    width: 600px;
    height: auto;
}
/* ---------- */
.jadwal h2 {
    text-align: center;
    color: var(--two-color);
    padding: 10px 0px 10px;
}
#jadwal {
    margin-left: 100px;
    padding: 10px;
    max-width: 700px;
}
#jadwal th {
    border-bottom: 1px solid var(--two-color);
    padding: 10px;
}
#jadwal td {
    border-bottom: 1px solid var(--two-color);
    padding: 10px;
    border-left: 1px solid var(--two-color);
}

footer {
    background-color: var(--one-color);
    color: var(--two-color);
    text-align: center;
    width: auto;
    max-width: 900px;
    height: 150px;
}